/* custom css */

body {
    background-image: url("http://marianitadn.herokuapp.com/media/images/skulls.png");
    background-repeat: repeat;
    max-width: 1240px;
}

.page-header {
    border-color: #007361;
}

a:link, a:visited, a:hover {
    color: #007361;
    text-shadow: none;
}

.navbar .nav > li > a {
    color: #007361;
    text-shadow: none;
}

.thumbnail {
    border: 1 none;
    border-color: #007361;
    box-shadow: none;
}

.thumbnail.social {
    border: none;
    box-shadow: none;
}

.social-image {
    width: 161px;
    height: 161px;
}

.central {
    margin-left: 25%;
}

#main-menu {
    margin-left: 35%;
}

#logo-header {
    margin-left: 20%;
    margin-top: 0.5%;
    border-top: 1px solid;
    border-top-color: #007361;
    padding-top: 9px;
}

#logo-header img {
    margin-left: 12%;
}

.table td {
    border-color: #007361;
}
