/* custom css */

body {
    background-image: url("http://marianitadn.herokuapp.com/media/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}

#central {
    margin-left: 200px;
}

.octo-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
