<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maria Nita</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="page-header">
        <blockquote>
            <h3> Move fast and break things! </h3>
        </blockquote>
    </div>
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span9">
            <div class="row">
                <div class="span3">
                    <a href={% url 'home' %} class="thumbnail">
                      <p class="text-center lead page-header"> Home </p>
                      <div align="center"><i class="fa fa-home fa-5x"></i></div>
                    </a>
                </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
