<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maria Nita</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>
    <header class="page-header central">
        <h3> Move fast and break things! </h3>
    </header>
<section class="container">
        {% block content %}
        {% endblock %}
</section>

</body>
</html>
