<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maria Nita</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <div class="navbar">
                <div class="navbar-inner">
                    <span> </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span9">

        <div class='row-fluid'>
            <div class="span3">
                <ul class="nav">
                    <li> <a href="{% url 'home' %}"> Home </a></li>
                    <li> <a href="{% url 'contact' %}"> Contact </a></li>
                </ul>
            </div>

        <div class="row-fluid">
                <div class="span6">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
