{% extends "base.html" %}

{% block content %}


    <p>GitHub: <a href="http://github.com/marianitadn" target="_blank">Maria Nita</a></p>
    <p>Linkedin: <a href="http://ro.linkedin.com/in/marianitadn" target="_blank">Maria Nita</a></p>
    <p>Twitter: <a href="http://twitter.com/MariaDana13" target="_blank">@MariaDana13</a></p>
    <p>G+: <a href="http://google.com/+MariaDanaNita" target="_blank">@MariaDana13</a></p>
    <p>Facebook: <a href="http://facebook.com/marianitadn" target="_blank">Maria Nita</a></p>

{% endblock %}
