{% extends "base_section.html" %}

{% block content %}

<div class="row">
    {% with general_template='general_contact.html' %}
        {% include 'general_contact.html' with contact=general_contact %}
    {% endwith %}
</div>
</br>
{% with social_template='social_contact.html' %}
<div class="row">
    {% for contact in professional_networks %}
        {% include social_template with social=contact %}
    {% endfor %}
</div>
</br>
<div class="row">
    {% for contact in social_networks %}
        {% include social_template with social=contact %}
    {% endfor %}
</div>
{% endwith %}
{% endblock %}
