{% extends "base_section.html" %}

{% block content %}
   <div class="row">
  {% with social_template='social_contact.html' %}
    <!-- General Contact info -->
      {% include 'general_contact.html' with contact=contacts %}

      {% with contact=social_contacts.github %}
        {% include social_template with social=contact %}
      {% endwith %}

      {% with contact=social_contacts.linkedin %}
        {% include social_template with social=contact %}
      {% endwith %}
    </div>
    </br>

    <div class="row">
     {% with contact=social_contacts.facebook %}
        {% include social_template with social=contact %}
      {% endwith %}

      {% with contact=social_contacts.google_plus %}
        {% include social_template with social=contact %}
      {% endwith %}

      {% with contact=social_contacts.twitter %}
        {% include social_template with social=contact %}
      {% endwith %}

     {% with contact=social_contacts.pinterest %}
        {% include social_template with social=contact %}
      {% endwith %}
    </div>
  {% endwith %}
{% endblock %}
