{% block content %}

    <div class="span9">
        <h4> General info </h4>
        <p class="page-header"></p>
          <ul>
            <address align="left"><i class="fa fa-envelope-o"> <a href="mailto:{{contact.email}}"> {{contact.email}} </a></i></address>
            <address align="left"><i class="fa fa-mobile-phone"> {{contact.phone}}</i></address>
            <address align="left"><i class="fa fa-skype"></i> {{contact.skype}} </address>
            <address align="left"><i class="fa fa-globe"></i> {{contact.address}} </address>
          </ul>
    </div>

{% endblock %}
