{% extends "base.html" %}

{% block content %}
    <!-- Home thumbnail -->
      <div class="span3">
        <a href="" class="thumbnail">
          <p class="text-center lead page-header"> Work </p>
          <i class="fa fa-laptop fa-5x"></i>
        </a>
      </div>

      <div class="span3">
        <a href="" class="thumbnail">
          <p class="text-center lead page-header">Education</p>
          <i class="fa fa-pencil fa-5x"></i>
        </a>
      </div>
</div>

<div class="row">
      <div class="span3">
        <a href="" class="thumbnail">
          <p class="text-center lead page-header">Volunteering</p>
          <i class="fa fa-group fa-5x"></i>
        </a>
      </div>

      <div class="span3">
        <a href={% url 'contact' %} class="thumbnail">
          <p class="text-center lead page-header">Contact</p>
          <i class="fa fa-envelope fa-5x"></i>
        </a>
      </div>

      <div class="span3">
        <a href="" class="thumbnail">
          <p class="text-center lead page-header">About</p>
          <i class="fa fa-magic fa-5x"></i>
        </a>
      </div>
</div>
{% endblock %}
