{% extends "base.html" %}

{% block content %}
    <!-- Home thumbnail -->
      <div class="span4">
        <a href="" class="thumbnail">
          <i class="fa fa-laptop fa-5x"></i>
          <span>Work</span>
        </a>
      </div>
</div>

<div class="row">
      <div class="span4">
        <a href="" class="thumbnail">
          <i class="fa fa-pencil fa-5x"></i>
          <span>Education</span>
        </a>
      </div>

      <div class="span4">
        <a href="" class="thumbnail">
          <i class="fa fa-group fa-5x"></i>
          <span>Volunteering</span>
        </a>
      </div>
</div>

<div class="row">
      <div class="span4">
        <a href={% url 'contact' %} class="thumbnail">
          <i class="fa fa-envelope fa-5x"></i>
          <span>Contact</span>
        </a>
      </div>

      <div class="span4">
        <a href="" class="thumbnail">
          <i class="fa fa-magic fa-5x"></i>
          <span>About</span>
        </a>
      </div>
</div>
{% endblock %}
